<%- include('./../header') ;%>
    <header>
      <h1>Books</h1>
    </header>

    <main>
      <h3 style="margin-top: 40px">
        Tao sach
      </h3>
      
      <form action="/books/create" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="exampleInputEmail1">Title</label>
          <input style="width: 50%;" type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <label for="exampleInputEmail1">Mo ta</label>
          <input style="width: 50%;" type="text" name="description" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">          
          <label for="exampleInputEmail1">Avatar</label>
          <input style="width: 50%;" type="file" name="avatar" class="form-control-file" id="exampleInputEmail1" aria-describedby="emailHelp">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </main>
        <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
