<%- include('./../header') ;%>
    <header>
      <h1>Users</h1>
    </header>

    <main>
      <h3 style="margin-top: 40px">
        Tao user
      </h3>
      
      <% if(Errors.length > 0) { %>
        <%for(let i of Errors) { %>
          <div class="alert alert-danger" role="alert">
            <%- i %>
          </div>
        <% } %>
      <% } %>
      
      <form action="/users/create" method="POST" enctype="multipart/form-data">
         <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input style="width: 50%;" type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <label for="exampleInputEmail1">Password</label>
            <input style="width: 50%;" type="password" name="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <label for="exampleInputEmail1">Gmail</label>
            <input style="width: 50%;" type="email" name="gmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <label for="exampleInputEmail1">Avatar</label>
            <input style="width: 50%;" type="file" name="avatar" class="form-control-file" id="exampleInputEmail1" aria-describedby="emailHelp">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </main>

    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
